<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OCR.space Demo</title>
</head>
<body>
  <h1>Upload an Image for OCR</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Run OCR</button>
  </form>

  {% if parsed_text %}
    <h2>Parsed Text</h2>
    <pre>{{ parsed_text }}</pre>
    <form action="/action_page.php">
    <label for="fname">SSN:</label><br>
    <input type="text" id="fname" name="fname" value= {{ parsed_text }} ><br>
    <label for="lname">Name:</label><br>
    <input type="text" id="lname" name="lname" value=""><br><br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</form> 
  {% endif %}

  {% if raw_json %}
    <h2>Raw JSON</h2>
    <pre>{{ raw_json }}</pre>
  {% endif %}
</body>
</html>
